javascript:
(function(){ 
if (!window.Vue) {
  let files = [
    "https://unpkg.com/element-ui/lib/theme-chalk/index.css",
    "https://unpkg.com/vue/dist/vue.js",
    "https://unpkg.com/element-ui@2.15.6/lib/index.js"
  ];
  $.getScript('https://ax.minicg.com/yepnope.min.js',()=>{ yepnope({ load: files, complete: init }); });
} else {
  init();
}
function init() {
  addNewElement('<el-select v-model="value" [[multiple]] [[disabled]] [[collapsetags]] [[clearable]] [[filterable]] multiple-limit=[[numb]] size="[[size]]" placeholder="[[Select]]" style="position:absolute; top:[[LVAR1.y]]px; left:[[LVAR1.x]]px; width:[[This.width]]px;"> <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled"> </el-option> </el-select>', 'a[[LVAR1.x]][[LVAR1.y]][[LVAR1.width]]', [[[text]]] );
}
function addNewElement( html, id, data ) {
  $('body').append(`<div id="${id}">${html}</div>`);
  new Vue({ el: '#' + id, data(){ return { options: data, value: '' } } });
}
}());