body {
  margin:0px;
  background-color:rgba(245, 247, 253, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u97_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(245, 247, 253, 1);
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
  -webkit-box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
  box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
}
#u97_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:57px;
}
#u99_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
}
#u99_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:30px;
  width:199px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:3px;
  width:22px;
  height:33px;
  display:flex;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:74px;
  height:25px;
  display:flex;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3px;
  width:22px;
  height:33px;
  display:flex;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:9px;
  width:74px;
  height:25px;
  display:flex;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u107_img.selected {
}
#u107.selected {
}
#u107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u108_img.selected {
}
#u108.selected {
}
#u108_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u109_img.selected {
}
#u109.selected {
}
#u109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:907px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:1238px;
  height:907px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  color:#606066;
  text-align:left;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.501960784313725);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  line-height:25px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:135px;
  width:1174px;
  height:72px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  line-height:25px;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 12px 12px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:65px;
  width:142px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 30px 30px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113 {
  position:fixed;
  right:20px;
  bottom:80px;
  width:50px;
  height:50px;
  visibility:hidden;
}
#u113_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116.mouseOver {
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:39px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:29px;
  height:39px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:967px;
  width:1300px;
  height:60px;
}
#u119_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(50, 50, 50, 1);
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
  -webkit-box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
  box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
}
#u119_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:989px;
  width:393px;
  height:17px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:991px;
  width:16px;
  height:16px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:991px;
  width:16px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:233px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:729px;
  width:195px;
  height:233px;
  display:flex;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:984px;
  width:28px;
  height:28px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.501960784313725);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  line-height:25px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:297px;
  width:1174px;
  height:122px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  line-height:25px;
}
#u127 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 12px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:227px;
  width:142px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 30px 30px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:457px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#28D8B4;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:116px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:472px;
  width:2px;
  height:113px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:457px;
  width:71px;
  height:33px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  text-align:center;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:457px;
  width:156px;
  height:15px;
  display:flex;
  color:#6B6B6B;
  text-align:center;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u134 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:481px;
  width:94px;
  height:15px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u135 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:504px;
  width:1055px;
  height:57px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:576px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#28D8B4;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:125px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:591px;
  width:2px;
  height:122px;
  display:flex;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:576px;
  width:84px;
  height:33px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:576px;
  width:130px;
  height:15px;
  display:flex;
  color:#6B6B6B;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u140 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:600px;
  width:94px;
  height:15px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u141 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:623px;
  width:1055px;
  height:65px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:713px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#28D8B4;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:159px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:728px;
  width:2px;
  height:156px;
  display:flex;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:713px;
  width:84px;
  height:33px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
  text-align:right;
}
#u144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:713px;
  width:208px;
  height:15px;
  display:flex;
  color:#6B6B6B;
}
#u145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u146 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:737px;
  width:182px;
  height:15px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u147 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:760px;
  width:1056px;
  height:105px;
  display:flex;
  color:rgba(67, 67, 67, 0.349019607843137);
}
#u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
