body {
  margin:0px;
  background-color:rgba(245, 247, 253, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
  display:flex;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u913 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
}
#u913_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(245, 247, 253, 1);
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
  -webkit-box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
  box-shadow:0px 2px 5px rgba(127, 127, 127, 0.168627450980392);
}
#u913_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u915 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:57px;
}
#u915_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.215686274509804);
}
#u915_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:30px;
  width:199px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:3px;
  width:22px;
  height:33px;
  display:flex;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:74px;
  height:25px;
  display:flex;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3px;
  width:22px;
  height:33px;
  display:flex;
  font-family:'Rosewood Std Bold Oblique', 'Rosewood Std Bold', 'Rosewood Std', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:28px;
  color:#0188FB;
}
#u921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:9px;
  width:74px;
  height:25px;
  display:flex;
  font-family:'Adobe Garamond Pro Bold Oblique', 'Adobe Garamond Pro Bold', 'Adobe Garamond Pro Regular', 'Adobe Garamond Pro', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#0188FB;
}
#u922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_img.mouseOver {
}
#u923.mouseOver {
}
#u923_img.selected {
}
#u923.selected {
}
#u923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_img.mouseOver {
}
#u924.mouseOver {
}
#u924_img.selected {
}
#u924.selected {
}
#u924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:36px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8CC4FD;
  text-align:left;
}
#u925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u925_img.mouseOver {
}
#u925.mouseOver {
}
#u925_img.selected {
}
#u925.selected {
}
#u925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1269px;
  width:289px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#D7D7D7;
}
#u928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1247px;
  width:1300px;
  height:60px;
}
#u930_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(50, 50, 50, 1);
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
  -webkit-box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
  box-shadow:0px -2px 5px rgba(127, 127, 127, 0.168627450980392);
}
#u930_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1269px;
  width:393px;
  height:17px;
  display:flex;
}
#u932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1271px;
  width:16px;
  height:16px;
  display:flex;
}
#u934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:1271px;
  width:16px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:233px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:1009px;
  width:195px;
  height:233px;
  display:flex;
}
#u936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:1264px;
  width:28px;
  height:28px;
  display:flex;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:1187px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:1238px;
  height:1187px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  color:#606066;
  text-align:left;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.501960784313725);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F59A23;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:135px;
  width:1174px;
  height:41px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F59A23;
}
#u939 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 12px 12px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:65px;
  width:310px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u940 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 30px 30px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:88px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:91px;
  width:4px;
  height:6px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D8D8D8;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:86px;
  width:78px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D8D8D8;
}
#u944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:221px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u945 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u946 {
  position:fixed;
  right:20px;
  bottom:80px;
  width:50px;
  height:50px;
  visibility:hidden;
}
#u946_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949.mouseOver {
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:39px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:29px;
  height:39px;
  display:flex;
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lobster', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:18px;
  display:flex;
  font-family:'Lobster', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:343px;
  width:449px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:2px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:328px;
  width:1174px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.187510797496678deg);
  -moz-transform:rotate(-0.187510797496678deg);
  -ms-transform:rotate(-0.187510797496678deg);
  transform:rotate(-0.187510797496678deg);
}
#u953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:272px;
  width:196px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u954_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
}
#u954.disabled {
}
#u954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:257px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:404px;
  width:263px;
  height:257px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:343px;
  width:481px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:404px;
  width:444px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:466px;
  width:704px;
  height:38px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:549px;
  width:704px;
  height:114px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:731px;
  width:449px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:173px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:789px;
  width:309px;
  height:173px;
  display:flex;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1037px;
  width:449px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:1049px;
  width:65px;
  height:15px;
  display:flex;
  color:#428BCA;
}
#u963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u963_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u963.disabled {
}
#u963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:2px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1002px;
  width:1174px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.187510797496678deg);
  -moz-transform:rotate(-0.187510797496678deg);
  -ms-transform:rotate(-0.187510797496678deg);
  transform:rotate(-0.187510797496678deg);
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
